*{
    margin: 0px;
    padding: 0px;
    font-family: cursive;
}
.navbar{
    width: 100%;
    height: 70px;
    background-color: #1b2531;
    color: white;
    display: flex;
    align-items: center;
    font-weight: 600;
}
#logo{
    margin:10px;
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}
#navname{
    margin-left: 20px;
    font-size: 20px;
}
#searchbar{
    border-radius: 0.2rem;
    margin-left: 30px;
    border: 2px solid orange;
    height: 30px;
    width: 60vb;
}
#searchbtn{
    margin-left: 1px;
    margin-right: 40px;
    border-radius: 0.2rem;
    border: 2px solid orange;
    height: 34px;
    width: 10vb;
}
#tags{
    text-decoration: none;
    color: white;
    margin-left: 35px;
}
#navbarprofilebtn{
    margin: 10px;
    margin-left: 40px;
    height:40px;
    width:40px;
    border-radius: 50%;
    border: 1px solid white;
    background-image: url("profile-icon.png");
    background-size: cover;
}
#navbarprofilebtn:hover{
    cursor: pointer;
}
#logoutbtn{
    margin-left: 140px;
    border-radius: 0.2rem;
    border: 2px solid orange;
    height: 34px;
    width: 10vb;
}
#searchbtn:hover{
    cursor:pointer;
    background-color:rgb(211, 210, 210);
}
#logoutbtn:hover{
    cursor:pointer;
    background-color:rgb(211, 210, 210);
}

/* Main section */
#welcome{
    padding: 70px;
    text-align: center;
    font-size: 30px;
    width: 100%;
    margin-top: 0px;
    height: 70px;
}

.featuresstatus{
    margin-left:30vb;
    padding: 30px;
    justify-content: center;
    justify-content: space-evenly;
    border-radius: 1rem;
    height: 100px;
    width: 140vb;
    display: flex;
}
#innerstatusbox{
    text-align: centre;
    height: 80px;
    width: 35vb;
    border: 2px solid black;
    border-radius: 1rem;
    align-items: center;
    justify-content: space-evenly;
}
.dashitems{
    /* background-color: #f4f6f8; */
    padding: 60px;
    height: 60vh;
    width: 190vb;
    display: flex;
    
}

#profilebtn, #companybtn, #eligibilitybtn, #builderbtn,#roadmapbtn {
    height: 300px;
    width: 300px;
    margin-left: 60px;
    border-radius: 1rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    color: black;
    text-align: centre;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1px;
    text-shadow: 0 2px 6px rgba(0,0,0,0.7);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    box-shadow: 0 10px 25px rgba(0,0,0,0.18);
    transition: transform 0.3s ease, box-shadow 0.4s ease;
}

/* DOMAIN-BASED IMAGES */

#profilebtn{
    background-image: url("https://logodix.com/logo/1076691.jpg");
}

#companybtn{
    background-image: url("");
}

#eligibilitybtn{
    background-image: url("");
}

#builderbtn{
    background-image: url("");
}
#roadmapbtn{
    background-image: url("");
}

/* Hover effect */
#profilebtn:hover,
#companybtn:hover,
#eligibilitybtn:hover,
#builderbtn:hover,
#roadmapbtn:hover {
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 18px 40px rgba(0,0,0,0.35);
}

body{
    min-height: 100vh;
    background-image: url("");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
