* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body {
  background: #f4f6f9;
  display: flex;
  justify-content: center;
  padding: 30px;
  text-align: center;
}

.profile {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 650px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  align-items: center;
  align-content: center;
  justify-content: center;
}

#logo{
  width: 50px;
  margin: 5px;
  border-radius: 50%;
}
.personal{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 40%;
  margin-bottom: 6px;
}

.academic{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 40%;
  margin-bottom: 40px;
}

input{
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
}
.academic button{
  border: 2px solid;
  border-radius: 5px;
  width: 50%;
  align-self: center;
  background-color: bisque;
  padding: 5px;
  margin-top: 10px;
  cursor: pointer;
}
.academic button:hover{
  transform: scale(1.03);
}
.fill{
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  
}
.fill button{
  width: 150px;
  border: none;
  padding: 5px;
  border-radius: 10px;
  background-color: #22c55e;
  color: whitesmoke;
  cursor: pointer;
}
.fill button:hover{
  transform: scale(1.03);
}

#logout{
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: rgb(240, 53, 53);

}
#logout:hover{
  transform: scale(1.03);
}


