body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #061c3f; /* Deep navy blue */
    color: #e6edf7;
}

/* HEADER */
header {
    background: linear-gradient(135deg, #07357c, #132f5b);
    color: white;
    padding: 30px;
    text-align: center;
}

header p {
    opacity: 0.85;
}

/* PROGRESS BAR */
.progress-top {
    display: flex;
    justify-content: space-between;
    margin: 20px auto 5px;
    max-width: 600px;
}

.progress-bar {
    height: 12px;
    background: #075de6b5;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    width: 0%;
    background: #22c55e;
    transition: 0.4s ease;
}

/* MAIN LAYOUT */
.skillinputcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 40px;
}

/* CARD STYLE */
.card {
    background: #0c3571; /* Navy card */
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.card h2 {
    margin-bottom: 15px;
    color: #f1f6ff;
}

/* INPUTS */
input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #123d93;
    background: #0c254d;
    color: #e6edf7;
}

input::placeholder {
    color: #9fb3d9;
}

.radio-group label {
    margin-right: 15px;
}

/* BUTTONS */
button {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

/* PRIMARY BUTTON */
#addSkillBtn {
    background: #2563eb; /* Bright blue */
    color: white;
}

#addSkillBtn:hover {
    background: #1d4ed8;
}

/* SKILL CARD */
.skill-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #132f5b;
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    color: #dbeafe;
}

.delete-btn {
    background: #dc2626;
    color: white;
    font-size: 12px;
}

/* RECOMMENDATIONS */
#recommendationBox {
    padding: 15px;
}

.recommend-item {
    display: inline-block;
    background: #1e3a8a;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    color: #e0e7ff;
}

.recommend-item:hover {
    background: #205de3;
}

/* FOOTER BUTTONS */
.bottom-bar {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.save-btn {
    background: #16a34a;
    color: white;
}

.back-btn {
    background: #1e42ba;
    color: white;
}
